[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.12.1"
django = "==6.0.8"
django-bolt = "==0.10.2"
django-environ = "==0.14.0"
msgspec = "==0.21.1"
pyjwt = "==2.13.0"
sqlparse = "==0.6.0"
typing-extensions = "==4.16.0"
tzdata = "==2026.3"
pandas = "*"
qrcode = "*"
reportlab = "*"
pillow = "*"

[dev-packages]
django-silk = "*"

[requires]
python_version = "3.12"
